<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52441087010-raed5g315i6pv9db5uthqfotuphpi4e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52441087010-raed5g315i6pv9db5uthqfotuphpi4e7</string>
	<key>API_KEY</key>
	<string>AIzaSyAr149PDOoksoD4Q2zunQe0_58kCa_7gtg</string>
	<key>GCM_SENDER_ID</key>
	<string>52441087010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testRun</string>
	<key>PROJECT_ID</key>
	<string>mytestrun12132</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestrun12132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52441087010:ios:8a603e08257d52611b9e7b</string>
</dict>
</plist>